build/
*.egg-info/
__pycache__/
output/
.pytest_cache/

examples/spreadsheet_ratings.ipynb
examples/live_worksession.ipynb
examples/pagaia.ipynb
examples/usgs_*.ipynb
examples/fits/
examples/half_a_copy/
examples/orphans_only/
examples/ship/

*.md
!README.md
!docs/**/*.md
